<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="head">
  	<title th:text="${title}">Title</title>
  	<script src="webjars/jquery/2.0.3/jquery.min.js"></script>
	<link rel="stylesheet" th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.min.css}" href="#" />
	<link rel="stylesheet" th:href="@{/css/style.css}" href="#" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body />
</html>