<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" th:fragment="nav">
      <div class="container">
        <div class="navbar">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" th:href="@{/}">Bibliotk</a>
          
          <div class="navbar-collapse collapse" ng-controller="LoginController">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#" th:href="@{/}">Libros</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right pull-right">
	          	 <li><a href="#" ng-click="login()"><span class="glyphicon glyphicon-log-in"></span></a></li>
	          </ul>
          </div>
          
        </div>
      </div>
    </div>
  </body>
</html>