<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout-admin">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body >
	<div layout:fragment="content" ng-controller="LibroController">
		
		<div class="tablecontainer col-xs-8">
               <table class="table table-hover">
                   <thead>
                       <tr><th>ID</th><th>Título</th><th>ISBN</th><th>Fecha</th><th>Público</th><th>Eliminar</th></tr>
                   </thead>
                   <tbody>
                       <tr ng-repeat="libro in libros" ng-click="editLibro(libro)">
                           <td>{{libro.id}}</td>
                           <td>{{libro.titulo}}</td>
                           <td>{{libro.isbn}}</td>
                           <td>{{libro.fechaAlta | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                           <td style="text-align: center;">
                            	<a href="#" ng-click="hideLibro(libro)" title="Ocultar" ng-show="{{libro.alta}}">
									<span class="glyphicon glyphicon-plus"></span>
								</a>
								<a href="#" ng-click="publishLibro(libro)" title="Publicar" ng-show="{{!libro.alta}}">
									<span class="glyphicon glyphicon-minus"></span>
								</a>
							</td>
							<td style="text-align: center;">	
                           		<a href="#" ng-click="deleteLibro(libro)" title="Eliminar" >
									<span class="glyphicon glyphicon-remove"></span>
								</a>
							</td>
                       </tr>
                   </tbody>
               </table>
	     </div>
	     
     	<div class="formcontainer col-xs-4">
	          <form ng-submit="addLibro(libro)" name="formLibro" class="form-horizontal"> <span ng-value="{{libro.titulo}}"></span>
	           		<div class="form-group col-md-12">
	           			<label class="col-md-2 control-lable" for="titulo">Título</label>
                        <input type="text" id="titulo" ng-model="libro.titulo" name="titulo" class="form-control input-sm" placeholder="Título" required="required" ng-minlength="3" />
                        <div class="has-error" ng-show="formLibro.$dirty">
                            <span ng-show="formLibro.titulo.$error.required">Campo requerido</span>
                            <span ng-show="formLibro.titulo.$error.minlength">Longitud minima es 3</span>
                            <span ng-show="formLibro.titulo.$invalid">Este campo es invalido</span>
                        </div>                            
                    </div>
                    <div class="form-group col-md-12">
	           			<label class="col-md-2 control-lable" for="isbn">ISBN</label>
                        <input type="text" id="isbn" ng-model="libro.isbn" name="titulo" class="form-control input-sm" placeholder="ISBN" required="required" ng-minlength="5" />
                        <div class="has-error" ng-show="formLibro.$dirty">
                            <span ng-show="formLibro.titulo.$error.required">Campo requerido</span>
                            <span ng-show="formLibro.titulo.$error.minlength">Longitud minima es 5</span>
                            <span ng-show="formLibro.titulo.$invalid">Este campo es invalido</span>
                        </div>                            
                    </div>

                    <div class="form-actions floatRight">
                        <input type="submit"  value="{{!libro.id ? 'Alta' : 'Actualizar'}}" class="btn btn-primary btn-sm" ng-disabled="formLibro.$invalid" />
                    </div>
			 </form>
     	</div>
     	
     	<div th:replace="fragments/footer :: footer">...</div>
	
	</div>
</body>
</html>